.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* CLASS JOKER */
.background-set {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.placeholder-orange::placeholder {
  color: orange;
}

.fs-13px {
  font-size: 13px;
}

.grey-light {
  color: rgb(90, 90, 90);
}

.white-text {
  color: rgb(243, 243, 243);
}

.hover-orange:hover {
  color: orange;
}

.border-l-semi-grey {
  border-left: 1px rgba(255, 255, 255, 0.175) solid;
}
.border-t-semi-grey {
  border-top: 1px rgba(255, 255, 255, 0.175) solid;
}
.border-r-semi-grey {
  border-right: 1px rgba(255, 255, 255, 0.175) solid;
}
.border-b-semi-grey {
  border-bottom: 1px rgba(255, 255, 255, 0.175) solid;
}

.hover-pointer:hover {
  cursor: pointer;
}

.text-small {
  font-size: 12px !important;
}

.hover-warning:hover {
  color: #ffa135 !important;
}
/* END CLASS JOKER */
